.header {
    width: 100%;
    padding: 1rem 1.5rem;
    // position: fixed;
    // box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.05), 0px 6px 6px 0px rgba(0, 0, 0, 0.04), 0px 13px 8px 0px rgba(0, 0, 0, 0.03), 0px 23px 9px 0px rgba(0, 0, 0, 0.01), 0px 37px 10px 0px rgba(0, 0, 0, 0.00);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__nav {
        display: flex;
        align-items: center;
        gap: 30px;

        @media (max-width: 425px) {
            display: none;
        }
    }

    & nav ul {
        display: flex;
        flex-direction: row;
        gap: 1.5rem;

        & li {
            list-style: none;
            color: #424242;
            font-size: 0.875rem;
            cursor: pointer;
            transition: all .2s;

            &:hover {
                color: var(--primary-color);

            }
        }
    }

    &__btn-wrapper {
        display: flex;
        align-items: center;
        gap: 20px;
    }
}

.btn-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
   
}
