<div class="trainer-card-container">
    <div class="trainer-card-container__image">
        <img [src]="trainer.imgSrc" alt="Trainer image" style="width: 100%; object-fit: cover;" />
    </div>
    <div class="trainer-card-container__content">
        <h2 class="name">{{trainer.name}}</h2>
        <div class="icon-wrapper">
            <fa-icon [icon]="trainer.icon" class="icon-wrapper__icon"></fa-icon>
            <span class="icon-wrapper__text">{{trainer.sport}}</span>
        </div>

        <div class="rating">
            <fa-icon [icon]="faStar" class="rating__icon"></fa-icon>
            <span class="rating__text">{{trainer.rating}}</span>
            <span class="rating__review">{{trainer.numOfReviews}} reviews</span>
        </div>
        
        <div class="bottom">
            <p>${{trainer.ratePerHour}} <span style="color: var(--gray-600);">/hr</span></p>

            <p>{{trainer.city}}, <span style="color: var(--gray-600);">{{trainer.country}}</span></p>
        </div>
    </div>
</div>