.container {
    width: 100vw;
    min-height: 100vh;
    background: radial-gradient(52.52% 28.1% at 97.71% 37.35%, rgba(105, 68, 254, 0.08) 0%, rgba(105, 68, 254, 0.00) 100%), radial-gradient(73.7% 42.87% at 4.37% 35.69%, rgba(255, 210, 51, 0.09) 0%, rgba(255, 210, 51, 0.00) 100%), #F4F4F4;
}

main {
    width: 100vw;
    max-width: 2000px;
    padding: 1rem;
    margin: 1rem auto;
}

.trainers-container {
    width: 100%;
    padding: 0rem 5rem;
    padding-bottom: 5rem;
    margin-top: 10vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    @media (max-width: 1024px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
        padding: 0rem 3rem;
    }

    @media (max-width: 425px) {
        grid-template-columns: 1fr;
        padding: 0rem 1rem;
    }
}