/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  body {
    font-family: "Manrope", sans-serif;
  }

  :root {
    --primary-color: #6944FE;
    --secondary-color: #FFD233;
    --background-color: #F4F4F4;
    --text-color: #333;
    --gray-300: #E0E0E0;
    --gray-600: #757575;
    --gray-700: #424242;
    --gray-800: #212121;
  }