<div class="search-bar">
    <div class="search-bar__inputs-container">
        <div style="display: flex; gap: 10px; flex-direction: column; border-right: 0.5px solid var(--gray-300); height: fit-content;">
            <span class="search-bar__input-label">Sport</span>
            <input class="search-bar__input" type="text" placeholder="Tennis" />
        </div>
        <div style="display: flex; gap: 10px; flex-direction: column; border-right: 0.5px solid var(--gray-300); height: fit-content;">
            <span class="search-bar__input-label">City</span>
            <input class="search-bar__input" type="text" placeholder="Anywhere" />
        </div>
        <div style="display: flex; gap: 10px; flex-direction: column; border-right: 0.5px solid var(--gray-300); height: fit-content;">
            <span class="search-bar__input-label">Hour</span>
            <input class="search-bar__input" type="text" placeholder="$20" />
        </div>
        <div style="display: flex; gap: 10px; flex-direction: column; height: fit-content;">
            <span class="search-bar__input-label">Rating</span>
            <input class="search-bar__input" type="text" placeholder="4.5+" />
        </div>
    </div>

    <div class="search-bar__search-icon-container">
        <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
    </div>
</div>